.tres {
    font-size: 200%;
   background-color: rgba(127, 255, 212, 0.141);
}

footer {
    font-size: 150%;
    border-style: ridge;
    background-color: darksalmon;
    margin-top: 400px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}