h2 {
    color: brown;
     border-radius: 7px;
    padding-top: 15px;
    padding-bottom:20px;
}

label {
    color: rgb(43, 76, 226);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}


form{
    background-color:black;
    padding-top: 75px;
    padding-bottom: 75px;
    
    text-align:center
}
.botonForm{
    background-color:brown;
    font-size: 50px;
   margin-top: 20px;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   font-weight:1000
}
